@using PagedList.Mvc
@model Oazachaosu.Models.GroupPagedViewModel
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
  ViewBag.Title = "Słowa " + Model.Name;
}


<div class="container-fluid text-center">
  <div class="row content">
    <section id="MainSection">
      <div style="margin-left: 20px">
        <p>
          Nazwa grupy: <strong>@Model.Name</strong><br>
        </p>
      </div>
      <div class="tableDiv">
        <p>
          <table class="table table-hover table-striped" style="width: 100%">
            <tr style="width: 100%">
              <th class="none" title="Id słowa">Id</th>
              <th class="text-center" style="width: 47.5%" title="Słowo w pierwszym języku">@Model.Language1.Description</th>
              <th class="text-center" style="width: 47.5%" title="Słowo w drugim języku">@Model.Language2.Description</th>
              <th style="width: 5%"></th>
            </tr>
            @foreach (var word in Model.Words) {
              <tr>
                <td class="wordId idText none">@word.Id</td>
                <td style="vertical-align: middle">@word.Language1</td>
                <td style="vertical-align: middle">@word.Language2</td>
                <td style="width: 5%; vertical-align: middle" >@Html.ActionLink("Edytuj", "Details", "Word", new { wordId = word.Id }, new { @class = "edit-icon" })</td>
              </tr>
            }
          </table>
        </p>
      </div>
      <div>
        <br />
        <span class="text-center">
          @Html.PagedListPager(Model.Words, page => Url.Action("Index", new { page }))
        </span>
      </div>
    </section>
  </div>
</div>

@section scripts{
  <script src="@Url.Content("~/Scripts/WordkiScript.js")"></script>
}

@section styles{
  <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/WordkiStyle.css")">
}
