<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link href="@Url.Content("~/Content/style.css")" rel="stylesheet">
  <link href="@Url.Content("~/Content/codeStyles/default.css")" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <title>@ViewBag.Title</title>
</head>
<body>

  <header class="container-fluid">
    <div id="headerLogo">
      @Html.ActionLink("Oazachaosu", "Index", "Blog")<span style="font-size: 20px; color: #6d6;">.pl</span>
    </div>
  </header>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav nav-pills">
          <li>@Html.ActionLink("Blog", "Index", "Blog")</li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Projekty <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li>@Html.ActionLink("Wordki", "Index", "Group", new { page = 1 }, null)</li>
              <li><a href="#">Finder</a></li>
            </ul>
          </li>
          <li><a href="#">O mnie</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          @Html.Partial("_LoginPartial")
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid text-center">
    <div class="row content">
      <div class="col-sm-2 sidenav text-left">
        @RenderSection("left_menu", required: false)
      </div>
      <div class="col-sm-8 text-justify">
        @RenderBody()
      </div>
      <div class="col-sm-2 sidenav">
        @RenderSection("right_menu", required: false)
      </div>
    </div>
  </div>

  <footer class="container-fluid text-center">
    <hr>
    <div style="color: #aaa; font-size: 12px;">
      Copyright  &copy; 2017 by vesper<br>
      All rights reserved
    </div>
  </footer>

  <script src="@Url.Content("~/Scripts/highlight.pack.js")"></script>
  <script src="@Url.Content("~/Scripts/highlightjs-line-numbers.js")"></script>
  <script src="@Url.Content("~/Scripts/utilScript.js")"></script>
  <script type="text/javascript">
    hljs.initHighlightingOnLoad();
    hljs.initLineNumbersOnLoad();
    $(document).ready(function () {
      $(".navbar").affix({ offset: { top: $("header").outerHeight(true) } });
    });
  </script>
  @RenderSection("scripts", required: false)
  @RenderSection("styles", required: false)
</body>
</html>